/*

#####################################################
## only backup these files
#####################################################
!.gitignore
!.bash_history
!.bashrc
!bin
!blog_peng
!change_key_binding
!.fluxbox
!.git
!.gitconfig
!notes
!peng_bin
!.pentadactylrc
!.sdcv_history
!.vimperatorrc
!.vimrc
!.Xmodmap

#####################################################
## after use some time, don't back these file
#####################################################
/.bash_history
/.fluxbox/fbrun_history
/.sdcv_history
