/*

#####################################################
## only backup these files
#####################################################
!test
!.gitignore
!.bash_history
!.bashrc
!bin
!blog_peng
!change_key_binding
!.fluxbox
!.git
!.gitconfig
!notes
!netp
!.fvwm
!peng_bin
!.pentadactylrc
!.sdcv_history
!.vimperatorrc
!.vimrc
!.Xmodmap
!.i3/

#####################################################
## something special in .config directory
#####################################################
!.config/
.config/*
!.config/eyerest.conf
!.config/xfce4
!.config/git
!.config/gnome-session
!.config/Thunar
!.config/tint2




#####################################################
## after use some time, don't back these file
#####################################################
/.bash_history
/.fluxbox/fbrun_history
/.sdcv_history
/.fvwm/.FvwmConsole-History
