[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pengpengxp/桌面/yozo-calc.desktop]
row=2
col=1

[/home/pengpengxp/桌面/yozo-pdf.desktop]
row=3
col=1

[/home/pengpengxp/桌面/yozo-impress.desktop]
row=0
col=1

[/home/pengpengxp/桌面/yozo-writer.desktop]
row=1
col=1

[5E041EB9041E945D]
row=0
col=0

[E2DAF827DAF7F61F]
row=3
col=0

[420014AA0014A6C7]
row=1
col=0

[B084EA8484EA4D02]
row=2
col=0

[回收站]
row=4
col=0

[/]
row=5
col=0

[/home/pengpengxp]
row=6
col=0

